body {
        font-family: Arial, sans-serif;
        background: #026563;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .container {
        background: white;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        width: 400px;
    }

    h2 {
        text-align: center;
    }

    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
      position:relative;
        width: 50%;
        left:25%;
        padding: 10px;
        margin-top: 30px;
        background: #101654;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    button:hover {
        background: #101654;
    }

    .resultado {
        margin-top: 30px;
        padding: 15px;
        background: #f1f1f1;
        border-radius: 5px;
        line-height: 1.8;
    }